.navbar__links {
  display: flex;
  align-items: center;
  color: #f4f4f4;

  @media (max-width: 960px) {
    display: none;
  }

  &.show {
    display: flex;
    flex-direction: column;

    li {
      &+ li{
        margin-bottom: 20px;
      }
    }
    li:last-child {
      font-size: 34px;
      margin-right: 0;
    }
  }

  li:last-child {
    order: -1;
    margin-right: 15px;
    font-size: 24px;
    transition: color .3s;
    &:hover {
      color: #dd219e;
    }
  }
}

.navbar__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  transition: background-color .3s;

  &:hover {
    background-color: #dd219e;
  }

  i {
    margin-right: 5px;
  }
}

.cartLogo__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #333333;
}