.navbar {
  color: #f4f4f4;
  width: 100%;
  display: flex;
  background-color: #171717;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  padding: 1rem;

  &__logo {
    h1 {
      cursor: pointer;
      font-family: "Segoe Script", sans-serif;
      color: #dd219e;
    }
    h1:first-letter {
      font-size: 52px;
      line-height: 52px;
      color: rgba(#fff, .2);
    }
  }

  .ham__menu {
    display: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: #333333;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 33px;
    transition: background-color .3s;
    z-index: 200;
    @media (max-width: 960px) {
      display: flex;
    }

    &:hover {
      background-color: #dd219e;
    }

    &.show {
      li:first-child {
        transform: rotate(-40deg);
      }
      li:nth-child(2) {
        display: none;
      }
      li:last-child {
        transform: rotate(40deg);
      }
    }

    li {
      height: 2px;
      background-color: #f4f4f4;
    }
  }
}